            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght;400;500;700&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Ubuntu', sans-serif;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
             :root {
                --blue: #287bff;
                --white: #fff;
                --grey: #f5f5f5;
                --black1: #222;
                --black2: #999;
            }
            
            body {
                min-height: 100vh;
                overflow-x: hidden;
            }
            
            .container {
                position: relative;
                width: 100%;
            }
            
            .iconlogo {
                width: 100%;
                height: auto;
                margin-top: 10px;
            }
            
            #logo-pn a {
                display: flex;
                justify-content: center;
            }
            
            .iconlogo2 {
                width: 70%;
                height: auto;
                padding: 10px;
            }
            
            hr {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-style: inset;
                border-width: 1px;
            }
            
            .navigation {
                position: fixed;
                width: 300px;
                height: 100%;
                background: var(--blue);
                border-left: 10px solid var(--blue);
                transition: 0.5s;
                overflow: hidden;
            }
            
            .navigation.active {
                width: 80px;
            }
            
            .navigation ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            
            .navigation ul li {
                position: relative;
                width: 100%;
                list-style: none;
            }
            
            .navigation ul li :hover,
            .navigation ul li.hovered {
                background: var(--white);
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
            
            .navigation ul li:nth-child(1) {
                margin-bottom: 40px;
                pointer-events: none;
            }
            
            .navigation ul li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: var(--white);
            }
            
            .navigation ul li:hover a,
            .navigation ul li.hovered a {
                color: var(--blue);
            }
            
            .navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 70px;
                text-align: center;
            }
            
            .navigation ul li a .icon ion-icon {
                font-size: 1.75em;
            }
            
            .navigation ul li a .icon material-icons-outlined {
                font-size: 1.90em;
            }
            
            .navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
            }
            /* curve outside*/
            
            .navigation ul li:hover a::before,
            .navigation ul li.hovered a::before {
                content: '';
                position: absolute;
                right: 0;
                top: -50px;
                width: 50px;
                height: 50px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px var(--white);
                pointer-events: none;
            }
            
            .navigation ul li:hover a::after,
            .navigation ul li.hovered a::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px var(--white);
                pointer-events: none;
            }
            /*main*/
            
            .main {
                position: absolute;
                width: calc(100% - 300px);
                left: 300px;
                min-height: 100vh;
                background: var(--white);
                transition: 0.5s;
                z-index: 1;
            }
            
            .main.active {
                width: calc(100% - 80px);
                left: 80px;
            }
            
            .topbar {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                position: fixed;
                background: whitesmoke;
            }
            
            .toggle {
                position: relative;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5em;
                cursor: pointer;
            }
            
            .user {
                position: relative;
                min-width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;
            }
            
            .user img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .icons-size {
                color: var(--white);
                font-size: 13px;
            }
            
            .action {
                position: fixed;
                right: 30px;
                top: 10px
            }
            
            .action .userMenu {
                background-color: var(--blue);
                box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                padding: 10px 20px;
                position: absolute;
                right: -10px;
                width: 200px;
                transition: 0.5s;
                top: 120px;
                visibility: hidden;
                opacity: 0;
            }
            
            .action .userMenu.active {
                opacity: 1;
                top: 60px;
                visibility: visible;
                z-index: 1;
            }
            
            .action .userMenu::after {
                background-color: var(--blue);
                content: '';
                height: 20px;
                position: absolute;
                right: 22px;
                transform: rotate(45deg);
                top: -5px;
                width: 20px;
            }
            
            .action .userMenu h3 {
                color: var(--white);
                font-size: 14px;
                font-weight: 600;
                line-height: 1.3em;
                padding: 20px 0px;
                text-align: left;
                width: 100%;
                z-index: 1;
            }
            
            .action .userMenu h3 div {
                color: #5e5959;
                font-size: 13px;
                font-weight: 400;
                z-index: 1;
            }
            
            .action .userMenu ul li {
                align-items: center;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                display: inline-block;
                justify-content: left;
                list-style: none;
                padding: 10px 0px;
                z-index: 1;
            }
            
            .action .userMenu ul li img {
                max-width: 20px;
                margin-right: 10px;
                opacity: 0.5;
                transition: 0.5s;
                z-index: 1;
            }
            
            .action .userMenu ul li a {
                display: inline-block;
                color: var(--white);
                font-size: 13px;
                font-weight: 600;
                padding-left: 15px;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.2s;
                z-index: 2;
            }
            
            .action .userMenu ul li:hover img {
                opacity: 1;
            }
            
            .action .userMenu ul li:hover a {
                color: var(--black1);
            }
            
            .cardBox {
                position: relative;
                width: 100%;
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                z-index: -1;
                margin: 50px 0;
            }
            
            .cardBox .card {
                position: relative;
                background: var(--white);
                padding: 30px;
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
            }
            
            .cardBox .card .number {
                position: relative;
                font-weight: 500;
                font-size: 2.5em;
                color: var(--blue);
            }
            
            .cardBox .card .cardName {
                color: var(--black2);
                font-size: 1.1em;
                margin-top: 5px;
            }
            
            .cardBox .card .iconBx {
                font-size: 2.0em;
                color: var(--black2);
            }
            
            .cardBox .card:hover {
                background: var(--blue);
            }
            
            .cardBox .card:hover .number,
            .cardBox .card:hover .cardName,
            .cardBox .card:hover .iconBx {
                color: var(--white);
            }
            
            .details {
                position: relative;
                width: 100%;
                padding: 20px;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-gap: 20px;
            }
            
            .details .bigBox {
                position: relative;
                display: grid;
                min-height: 500px;
                background: var(--white);
                padding: 30px;
                box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
                border-radius: 20px;
            }
            
            .scroll-div::-webkit-scrollbar {
                width: 8px;
                border: 1px solid rgb(200, 200, 200);
            }
            
            .scroll-div::-webkit-scrollbar-thumb {
                background-color: #78aed3;
                border-radius: 5px;
            }
            
            .scroll-div {
                height: 450px;
                overflow: hidden;
                overflow-y: scroll;
            }
            
            .cardHeader {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            
            .cardHeader h2 {
                font-weight: 600;
                color: var(--blue);
            }
            
            .cardHeader1 {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            
            .cardHeader1 h2 {
                font-weight: 600;
                color: var(--blue);
            }
            
            .details table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 10px;
            }
            
            .details .slider {
                width: 100%;
                border-collapse: collapse;
                margin-top: 10px;
            }
            
            .details table thead td {
                font-weight: 600;
            }
            
            .details .bigBox table tr {
                color: var(--black1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            
            .details .bigBox table tr:last-child {
                border-bottom: none;
            }
            
            .details .bigBox table tr td {
                padding: 10px;
            }
            
            .details .bigBox table tr td:last-child {
                text-align: none;
            }
            
            .details .bigBox table tr td:nth-child(2) {
                text-align: none;
            }
            
            .details .bigBox table tr td:nth-child(3) {
                text-align: end;
            }
            /*====Notification Card====*/
            
            .notiftable {
                padding: 10px;
            }
            
            #notifs {
                display: flex;
                border-bottom: 1px solid rgba(19, 41, 54, 0.1);
            }
            
            #nf_icon {
                margin-right: 10px;
                font-size: 22px;
            }
            /*====Week Task card====*/
            
            .slideshadow-container {
                max-width: 500px;
                position: relative;
                margin: auto;
            }
            
            .tasking h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                font-family: ' Gothic';
                font-size: 32px;
            }
            
            .tasking .taskToDo h3 {
                padding: 20px;
                font-family: roboto-light;
                color: var(--black2);
            }
            
            .tasking h5 i {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--black2);
            }
            
            .tasking ol li {
                display: list-item;
                list-style-position: inside;
                font-family: roboto-light;
                color: var(--black2);
                text-align: justify;
                margin-left: 3rem;
            }
            
            .tasking .taskreminder {
                padding: 30px;
                text-align: justify;
                color: var(--black2);
            }
            /*=== carousel in task card=====*/
            
            .slider {
                padding: 10px 10px 10px 10px;
                width: 600px;
                text-align: center;
                overflow: hidden;
            }
            
            .slides {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
            }
            
            .slides::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            
            .slides::-webkit-scrollbar-thumb {
                background: var(--blue);
                border-radius: 10px;
            }
            
            .slides::-webkit-scrollbar-track {
                background: transparent;
            }
            
            .slides>div {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 580px;
                height: auto;
                margin-right: 50px;
                border-radius: 10px;
                background: #eee;
                transform-origin: center center;
                transform: scale(1);
                transition: transform 0.5s;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .slider>a {
                display: inline-flex;
                width: 1.5rem;
                height: 1.5rem;
                color: var(--black1);
                background: transparent;
                border: 1px solid var(--blue);
                text-decoration: none;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0 0 0.5rem 0;
                position: relative;
            }
            
            .slider>a:active {
                top: 1px;
            }
            
            .slider>a:focus {
                background: var(--blue);
            }
            
            .status.approved {
                padding: 4px 4px;
                background: var(--white);
                color: var(--blue);
                border-radius: 10px;
                border: 2px solid #a2d9ce;
                font-size: 14px;
                font-weight: 500;
            }
            
            .status.approved:hover {
                background-color: #38b000;
                color: var(--white);
            }
            
            .status.denied {
                padding: 4px 4px;
                background: var(--white);
                color: var(--blue);
                border-radius: 10px;
                border: 2px solid #a2d9ce;
                font-size: 14px;
                font-weight: 500;
            }
            
            .status.denied:hover {
                background-color: #f00;
                color: var(--white);
            }
            
            .smallBox {
                position: relative;
                display: grid;
                min-height: 500px;
                padding: 20px;
                background: var(--white);
                box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
                border-radius: 20px;
                z-index: -1;
            }
            
            .smallBox table tr td {
                padding: 12px 10px;
            }
            
            .smallBox table tr td h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2em;
            }
            
            .smallBox table tr td h4 span {
                font-size: 14px;
                color: var(--black2);
            }
            
            .smallBox table tr:hover {
                background: var(--blue);
                color: var(--white);
            }
            
            .smallBox table tr:hover td h4 span {
                color: var(--white);
            }
            
            .tablink {
                border: none;
                outline: none;
                cursor: pointer;
            }
            
            .tabcontent {
                display: none;
                text-align: left;
            }
            
            .btn-addNew {
                position: relative;
                padding: 5px 10px;
                margin-right: 10px;
                background: var(--blue);
                text-decoration: none;
                color: var(--white);
                border-radius: 4px;
            }
            
            .save-btn {
                padding: 4px 4px;
                background: var(--white);
                color: var(--blue);
                border-radius: 10px;
                border: 2px solid #a2d9ce;
                font-size: 14px;
                font-weight: 500;
            }
            
            .save-btn:hover {
                background-color: #008000;
                color: var(--white);
            }
            
            .cancel-btn {
                padding: 4px 4px;
                background: var(--white);
                color: var(--blue);
                border-radius: 10px;
                border: 2px solid #a2d9ce;
                font-size: 14px;
                font-weight: 500;
            }
            
            .cancel-btn:hover {
                background-color: #cc0000;
                color: var(--white);
            }
            
            .edit-btn {
                padding: 4px 4px;
                background: var(--white);
                color: var(--blue);
                border-radius: 10px;
                border: 2px solid #a2d9ce;
                font-size: 14px;
                font-weight: 500;
            }
            
            .edit-btn:hover {
                background-color: #008000;
                color: var(--white);
            }
            
            .remove-btn {
                padding: 4px 4px;
                background: var(--white);
                color: var(--blue);
                border-radius: 10px;
                border: 2px solid #a2d9ce;
                font-size: 14px;
                font-weight: 500;
            }
            
            .remove-btn:hover {
                background-color: #cc0000;
                color: var(--white);
            }
            /*=====Consequence Boxes======*/
            
            .cons {
                padding: 15px;
                display: block;
            }
            
            .cons .con_icon {
                font-size: 15px;
            }
            
            #con1,
            #con2,
            #con3 {
                display: flex;
                justify-content: center;
            }
            
            .conbox-st {
                background: orange;
                padding: 10px;
                height: auto;
            }
            
            .conbox-st ul li {
                list-style-type: outside;
                margin: 5px;
                display: flex;
                justify-content: center;
            }
            
            .conbox-hd {
                background: orangered;
                margin-top: 10px;
                padding: 10px;
            }
            
            .conbox-hd ul li {
                margin: 5px;
                display: flex;
                justify-content: center;
            }
            
            .conbox-trm {
                background: red;
                margin-top: 10px;
                padding: 10px;
            }
            
            .conbox-trm ul li {
                margin: 5px;
                display: flex;
                justify-content: center;
            }
            
            .taskList {
                height: 30px;
                width: 200px;
                border-radius: 10px;
                margin-left: -10px;
                border-color: var(--blue);
            }
            
            .taskTeam {
                height: 30px;
                width: 90px;
                border-radius: 10px;
                margin-left: -20px;
                border-color: var(--blue);
            }
            
            .taskType {
                height: 30px;
                width: 90px;
                border-radius: 10px;
                margin-left: -60px;
                border-color: var(--blue);
            }
            /*========Team HTML==========*/
            
            .cardBoxes {
                position: relative;
                width: 100%;
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                z-index: -1;
                margin: 50px 0;
            }
            
            .cardBoxes .tcard {
                position: relative;
                background: var(--white);
                padding: 30px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                cursor: pointer;
                box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
            }
            
            .tcard {
                height: 410px;
                min-width: 150px;
                border-radius: 10px;
                background: rgba(12, 11, 11, 0.1);
                padding-top: 30px;
            }
            
            .tcardName h3 {
                text-align: center;
            }
            
            .cardBoxes .tcardName {
                align-items: center;
            }
            
            #new-submit {
                padding: 7px 15px;
                margin-top: 10px;
                border-radius: 10px;
                box-shadow: 0 0 4px rgb(168, 170, 170);
                cursor: pointer;
                outline: none;
                border: none;
                color: rgb(15, 14, 15);
                margin-left: 10px;
                transition: .5s;
                background-color: #287bff;
            }
            
            #new-taskoffice {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
                color: gray;
            }
            
            #new-taskoffice[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-task {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
            }
            
            #new-taskICT[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-task {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
            }
            
            #new-task[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-tasksf {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
            }
            
            #new-tasksf[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-taskICT {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            #new-taskgf[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-taskgf {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
            }
            
            #new-taskgf[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-task-input {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
            }
            
            #new-task-input[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #new-taskkitchen {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 10px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
                color: gray;
            }
            
            #new-taskkitchen[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #in {
                border: none;
                background: transparent;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 13px;
                box-shadow: 0 0 4px #fff;
                margin: 15px 0;
                padding: 0 0px;
                transition: .4s;
            }
            
            .card:hover {
                border: none;
            }
            
            #in[placeholder]:focus {
                color: rgb(7, 7, 7);
            }
            
            #sbtn {
                padding: 7px 1px;
                margin-top: 0px;
                border-radius: 10px;
                box-shadow: 0 0 4px rgb(170, 170, 168);
                cursor: pointer;
                outline: none;
                border: none;
                color: rgb(15, 14, 15);
                margin-left: 10px;
                transition: .5s;
            }
            
            #tasks .task {
                display: flex;
                justify-content: space-between;
                background-color: var(--darkest);
                padding: 1rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                margin-left: 10px;
                border: none;
            }
            
            .task .content {
                flex: 2 2 0%;
                border: none;
            }
            
            .task .content .text {
                color: var(--light);
                font-size: 13px;
                /* width: 100%; */
                display: block;
                transition: 0.4s;
                border: none;
                margin-left: -3px;
            }
            
            .task .content .text:not(:read-only) {
                color: var(--pink);
                border: none;
            }
            
            .task .actions {
                display: flex;
                margin: 0 -0.1rem;
                border: none;
                margin-top: 1px;
                margin-left: 190px;
            }
            
            .task .actions button {
                cursor: pointer;
                margin: 0 0.1rem;
                font-size: 13px;
                font-weight: 100;
                transition: 0.4s;
                border: none;
                justify-content: space-between;
                margin-left: 10px;
            }
            
            .task .actions button:hover {
                opacity: 0.8;
                border: none;
            }
            
            .task .actions button:active {
                opacity: 0.1;
                border: none;
            }
            
            .task .actions .edit {
                background-image: linear-gradient(to right, var(--pink), var(--purple));
                border: none;
                right: 30px;
                margin-top: -15px;
            }
            
            .task .actions .delete {
                border: none;
                border-radius: 5px;
                right: 15px;
                margin-top: -15px;
            }
            
            .new-taskkitchen {
                right: 30px;
                margin-top: -15px;
            }
            
            .new-submit {
                border-radius: 5px;
                right: 15px;
                margin-top: -15px;
            }
            
            #tfsfloor {
                border: none;
            }
            /*====== About US Page=======*/
            
            .aboutUs {
                position: relative;
                width: 100%;
                padding-left: 70px;
                padding-right: 30px;
                display: flex;
                justify-content: center;
                z-index: -1;
                margin: 70px auto;
            }
            
            .aboutUs .about_us {
                position: relative;
                width: 100%;
                height: 100px;
                background: transparent;
                padding: 30px;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
                overflow: hidden;
            }
            
            .about_us h3 {
                margin-bottom: 10px;
                color: var(--blue);
            }
            
            .aboutDev {
                text-align: center;
                margin-top: 50px;
                color: var(--blue);
            }
            
            .aboutCard {
                position: relative;
                width: 100%;
                padding-left: 70px;
                padding-right: 30px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-evenly;
                grid-gap: 10px;
                z-index: -1;
                margin: 30px auto;
            }
            
            .aboutCard .about_card1 {
                position: relative;
                width: 250px;
                height: 250px;
                background: var(--black2);
                padding: 30px;
                border-radius: 20px;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
                overflow: hidden;
                box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
            }
            
            .about_card1 img {
                width: 250px;
                height: auto;
            }
            
            .about_card1 .cover {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000000af;
                bottom: -350px;
                transition: .4s;
            }
            
            .about_card1:hover .cover {
                bottom: 0;
            }
            
            .about_card1 h3 {
                color: #f0f0f0;
                transition-delay: .6s;
            }
            
            .about_card1 p {
                color: var(--blue);
                font-style: italic;
                font-weight: 600;
                transition-delay: .8s;
            }
            
            .about_card1 hr {
                width: 70%;
                border-radius: 50%;
                margin: 0 auto;
                transition-delay: 1s;
            }
            
            .about_card1 .about-icons {
                transition-delay: 1.2s;
            }
            
            .about-icons a {
                text-decoration: none;
            }
            
            .about_card1 .about-icons ion-icon {
                cursor: pointer;
                color: #c5c5c5;
                font-size: 24px;
                margin: 0 8px;
                transition: all .4s;
            }
            
            .about_card1 .about-icons ion-icon:hover {
                color: var(--blue);
            }
            
            .about_card1 h3,
            .about_card1 p,
            .about_card1 hr,
            .about_card1 .about-icons {
                opacity: 0;
                transform: translateY(260px);
                transition-duration: .4s;
            }
            
            .about_card1:hover h3,
            .about_card1:hover p {
                opacity: 1;
                transform: translateY(115px);
            }
            
            .about_card1:hover hr {
                opacity: 1;
                transform: translateY(135px);
            }
            
            .about_card1:hover .about-icons {
                opacity: 1;
                transform: translateY(160px);
            }
            /*======Medias========*/
            
            @media(max-width: 991px) {
                .navigation {
                    left: -300px;
                }
                .navigation.active {
                    width: 300px;
                    left: 0;
                }
                .main {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    left: 0;
                }
                .main.active {
                    left: 300px;
                }
                .cardBox {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            
            @media(max-width:768px) {
                .details {
                    grid-template-columns: repeat(1, 1fr);
                }
                .bigBox {
                    overflow-x: auto;
                }
                .status.inprogress {
                    white-space: nowrap;
                }
            }
            
            @media(max-width:480px) {
                .cardBox {
                    grid-template-columns: repeat(1, 1fr);
                }
                .cardHeader h2 {
                    font-size: 20px;
                }
                .user {
                    min-height: 40px;
                }
                .navigation {
                    width: 100%;
                    left: -100%;
                    z-index: 1000;
                }
                .navigation.active {
                    width: 100%;
                    left: 0;
                }
                .toggle {
                    z-index: 10001;
                }
                .main.active .toggle {
                    position: fixed;
                    right: 0;
                    left: initial;
                    color: var(--white);
                }
            }